@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
font-family: 'Rubik', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/*
    Formatting tag
*/
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.trans {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}

/*
    Header and Navbar
*/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #7858a6;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #1abeb4;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #1abeb4;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#responsive-navbar {
  display: none;
  align-items: center;
}
#close-navbar-responsive {
  display: none;
}
/*
    End Header
*/

/*
    Home Page
*/

#main-home {
  background-image: url("img/home-img.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 0% right 0%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#main-home h4 {
  padding-bottom: 0;
  letter-spacing: 5px;
}
#main-home h1 {
  color: #ffdaaf;
  letter-spacing: 3px;
}
#main-home h2 {
  color: #fff;
  padding-bottom: 0;
}
#main-home p {
  color: #ffcc8f;
  padding-bottom: 10px;
}
#main-home button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: rgb(255, 231, 93);
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
}

/*
    End Home Page
*/

/*
    Features Section
*/
#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#features .features-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  background-image: linear-gradient(to bottom right, #fcffe7, #f2f2f2);
}
#features .features-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#features .features-box img {
  width: 100%;
  margin-bottom: 10px;
}
#features .features-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(65, 63, 63);
  background-color: #fddde4;
}
#features .features-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#features .features-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#features .features-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#features .features-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#features .features-box:nth-child(6) h6 {
  background-color: #fff2e5;
}
/*
    End Features Section
*/
/*
    Features Products
*/
#product-features {
  text-align: center;
}
#product-features .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product-features .product {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product-features .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product-features .product img {
  width: 100%;
  border-radius: 20px;
}
#product-features .product .description {
  text-align: start;
  padding: 10px 0;
}
#product-features .product .description span {
  color: #606063;
  font-size: 12px;
}
#product-features .product .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product-features .product .description i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product-features .product .description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product-features .product .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #d2e9d5;
  font-weight: 500;
  color: #14c4b8;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
/*
    End Features Products
*/
/*
    Banner Promotions
*/
#banner-promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-position: center;
}
#banner-promotion h4 {
  color: #fff;
  font-size: 20px;
}
#banner-promotion h2 {
  color: #fff;
  font-size: 40px;
  padding: 10px 0;
}
#banner-promotion h2 span {
  color: #ef3636;
}
#banner-promotion button:hover {
  background-color: #088178;
  color: #fff;
}
/*
    End Banner Promotions
*/
/*
    Banner Features
*/
#banner-features {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#banner-features .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b17.jpg");
  min-width: 580px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#banner-features .box-2 {
  background-image: url("img/banner/b10.jpg");
}
#banner-features h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#banner-features h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#banner-features span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#banner-features .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}
#banner-features-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner-features-2 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner-features-2 .box-23 {
  background-image: url("img/banner/b4.jpg");
}
#banner-features-2 .box-24 {
  background-image: url("img/banner/b18.jpg");
}
#banner-features-2 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner-features-2 h3 {
  color: rgb(121, 9, 9);
  font-weight: 800;
  font-size: 15px;
}
/*
  End Banner Features
*/
/*
    NewsLetter Email
*/
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter .form-mail {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*
    End NewsLetter Email
*/
/*
    Footer Section
*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .column-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo-footer {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .social-media {
  margin-top: 20px;
}
footer .social-media i {
  color: #465b52;
  padding-right: 8px;
  cursor: pointer;
}
footer .social-media i:hover,
footer a:hover {
  color: #088178;
}
footer .apps .row-app img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .apps img {
  margin: 10px 0 15px 0;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
/*
    End Footer Section
*/

/*
    Responsive Media Queries
*/

@media only screen and (max-width: 850px) {
  .section-p1 {
    padding: 40px 60px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #7858a6;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #responsive-navbar {
    display: flex;
    align-items: center;
  }
  #responsive-navbar i {
    color: #ffb;
    font-size: 24px;
    padding-left: 20px;
  }
  #close-navbar-responsive {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #ffb;
    font-size: 20px;
  }
  #close-cart {
    display: none;
  }
  #main-home {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #features {
    justify-content: space-around;
  }
  #product-features .product-container {
    justify-content: center;
  }
  #product-features .product {
    margin: 15px;
  }
  #banner-promotion {
    height: 20vh;
  }
  #banner-features .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner-features-2 {
    padding: 0 40px;
  }
  #banner-features-2 .banner-box {
    width: 28%;
  }
  #newsletter .form-mail {
    width: 70%;
  }
}

@media only screen and (max-width: 455px) {
  #header {
    padding: 15px 20px;
  }
  #main-home {
    padding: 0px 10px;
    background-position: 55%;
  }
  #main-home h4 {
    color: #fff;
  }
  #main-home h2 {
    font-size: 35px;
    letter-spacing: 2px;
  }
  #main-home h1 {
    font-size: 45px;
  }
  #main-home p {
    font-size: 15px;
  }
  #features {
    justify-content: space-around;
  }
  #features .features-box {
    width: 120px;
    margin: 0 0 15px 0;
  }
  #product-features .product {
    width: 100%;
  }
  #banner-promotion {
    height: 23vh;
  }
  #banner-promotion h2 {
    font-size: 22px;
  }
  #banner-features .banner-box {
    height: 30vh;
  }
  #banner-features .box-2 {
    margin-top: 20px;
  }
  #banner-features-2 {
    padding: 0 20px;
  }
  #banner-features-2 .banner-box {
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form-mail {
    width: 100%;
  }
}
